table,th,td{
    border: 2px solid black;
    border-collapse: collapse;
    
}
table{
    width: 100%;
}
th{
    font-size: 20px;
    background-color: beige;
    color: crimson;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
td{
    background-color: yellow;
    color: blue;
    font-size: 20px;
    text-align: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
h1{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}